{% extends 'base.html' %}

{% block content %}

<h1>detail</h1>

<h3>제목: {{post.title}}</h3>
<p> 날짜: {{post.date}}</p>
<h3>본문</h3>
<p>{{post.body}}</p>
<p>{{post.writer}}</p>

<div class="nav-scroller py-3 mb-1">
        <nav class="nav d-flex justify-content-center">
      <a class="p-2 text-muted" href="{% url 'home' %}">Home</a>
      <a class="p-2 text-muted" href="{% url 'edit' post.id %}">수정하기</a>
      <a class="p-2 text-muted" href="{% url 'delete' post.id %}">삭제하기</a>
        </div>


{% endblock%}