{% extends 'base.html' %}

{% block content %}
<body>


<div>
    <button type="submit" class="btn btn-lg btn-muted" style="text-align: center;"> <a href="{% url 'new' %}"
            style="color: black">글 작성하기</a> </button>
</div>
<div class="container">
    {% for post in posts %}
    <div class="card">
        <h5 class="card-header">{{post.title}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{post.writer}}</h5>
            <p class="card-text">{{post.body}}</p>
            <a href="{% url 'detail' post.id %}" class="btn btn-primary">more..</a>
        </div>
    </div>
    {% endfor %}
    <div>
        {% if posts.has_previous %}
        <a href="?page={{posts.1}}"> 첫페이지</a>
        <a href="?page={{posts.previous_page_number}}"> 이전 페이지</a>

        {% endif %}

        <span> {{posts.number}}</span>
        <span> of </span>
        <span> {{posts.paginator.num_pages}} </span>

        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}"> 다음페이지</a>
        <a href="?page={{posts.paginator.num_page}}"> 마지막페이지</a>
        {% endif %}
    </div>
</div>
    
</body>
{% endblock%}