{% extends 'base.html' %}

{% block content %}
<h1>김홍래에 관한 블로그 made by 관형</h1>

<div>
    <button type="submit" class="btn btn-lg btn-muted" style="text-align: center;"> <a href="{% url 'new' %}"
            style="color: black">글 작성하기</a> </button>
</div>
{% for post in posts.all %}
<div class="container">
    <a href="{% url 'detail' post.id%}" style="color: black;">
        <h2>{{post.title}}</h2>
    </a>
    <p>{{post.date}}</p>     <!--이거 살짝 문제있는거 같음 뭔지는 모르겠음.-->
    <p>{{post.summary}}</p>

    <p>{{post.writer}}</p>


</div>




{% endfor %}

{% endblock%}